<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LMAU</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="grid-container">
    <div class="announcement">It's the BIGGEST SALE of the year! Save up to 65% now.</div>

    <header>
      <div class="row dashboard">
        <div>
          <a class="brand" href="index.html">LMAU</a>
        </div>
        <div class="navlinks">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </div>
    </header>

    <nav>
      <ul class="navlinks">
        <li><a href="">SWEATER</a></li>
        <li><a href="">TSHIRTS</a></li>
        <li><a href="">ACCESSORIES</a></li>
      </ul>
    </nav>

    <main>
      <div class="slider">
        <img src="./img/slider1.jpg" alt="slider1">
      </div>

      <div class="row center">
        <div class="card">
          <a href="product.html">
            <!-- image size 680px x 830px -->
            <img class="medium" src="./img/products/blackfur-vest.jpg" alt="black fur vest">
          </a>
          <div class="card-body">
            <a href="product.html">
              <h2>Black Fur Vest</h2>
            </a>
            <div class="rating">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price">$30</div>
          </div>
        </div>

        <div class="card">
          <a href="product.html">
            <!-- image size 680px x 830px -->
            <img class="medium" src="./img/products/blackfur-vest.jpg" alt="black fur vest">
          </a>
          <div class="card-body">
            <a href="product.html">
              <h2>Black Fur Vest</h2>
            </a>
            <div class="rating">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price">$30</div>
          </div>
        </div>

        <div class="card">
          <a href="product.html">
            <!-- image size 680px x 830px -->
            <img class="medium" src="./img/products/blackfur-vest.jpg" alt="black fur vest">
          </a>
          <div class="card-body">
            <a href="product.html">
              <h2>Black Fur Vest</h2>
            </a>
            <div class="rating">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price">$30</div>
          </div>
        </div>

        <div class="card">
          <a href="product.html">
            <!-- image size 680px x 830px -->
            <img class="medium" src="./img/products/blackfur-vest.jpg" alt="black fur vest">
          </a>
          <div class="card-body">
            <a href="product.html">
              <h2>Black Fur Vest</h2>
            </a>
            <div class="rating">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price">$30</div>
          </div>
        </div>

        <div class="card">
          <a href="product.html">
            <!-- image size 680px x 830px -->
            <img class="medium" src="./img/products/blackfur-vest.jpg" alt="black fur vest">
          </a>
          <div class="card-body">
            <a href="product.html">
              <h2>Black Fur Vest</h2>
            </a>
            <div class="rating">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price">$30</div>
          </div>
        </div>

        <div class="card">
          <a href="product.html">
            <!-- image size 680px x 830px -->
            <img class="medium" src="./img/products/blackfur-vest.jpg" alt="black fur vest">
          </a>
          <div class="card-body">
            <a href="product.html">
              <h2>Black Fur Vest</h2>
            </a>
            <div class="rating">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price">$30</div>
          </div>
        </div>

        <div class="card">
          <a href="product.html">
            <!-- image size 680px x 830px -->
            <img class="medium" src="./img/products/blackfur-vest.jpg" alt="black fur vest">
          </a>
          <div class="card-body">
            <a href="product.html">
              <h2>Black Fur Vest</h2>
            </a>
            <div class="rating">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price">$30</div>
          </div>
        </div>

        <div class="card">
          <a href="product.html">
            <!-- image size 680px x 830px -->
            <img class="medium" src="./img/products/blackfur-vest.jpg" alt="black fur vest">
          </a>
          <div class="card-body">
            <a href="product.html">
              <h2>Black Fur Vest</h2>
            </a>
            <div class="rating">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price">$30</div>
          </div>
        </div>

        <div class="card">
          <a href="product.html">
            <!-- image size 680px x 830px -->
            <img class="medium" src="./img/products/blackfur-vest.jpg" alt="black fur vest">
          </a>
          <div class="card-body">
            <a href="product.html">
              <h2>Black Fur Vest</h2>
            </a>
            <div class="rating">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price">$30</div>
          </div>
        </div>

        <div class="card">
          <a href="product.html">
            <!-- image size 680px x 830px -->
            <img class="medium" src="./img/products/blackfur-vest.jpg" alt="black fur vest">
          </a>
          <div class="card-body">
            <a href="product.html">
              <h2>Black Fur Vest</h2>
            </a>
            <div class="rating">
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="fas fa-star"></i></span>
              <span><i class="far fa-star"></i></span>
            </div>
            <div class="price">$30</div>
          </div>
        </div>

      </div>
    </main>

    <footer>
      <div class="row center">
        &copy;2021 LMAU, Inc. All rights reserved.
      </div>
    </footer>
  </div>
</body>

</html>