@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&family=Zen+Kurenaido&display=swap");

/**********
  RESETS
***********/
#root {
  height: 100%;
}

html {
  font-size: 62.5%; /* 16px x 62.5% = 10px = 1rem */
  box-sizing: border-box;
  overflow-x: hidden;
  overscroll-behavior-x: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.6rem;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Zen Kurenaido", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/**********
  GLOBAL
***********/
/* HEADINGS */
h1 {
  font-size: 2.2rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 0 0 1rem 0;
  margin: 0;
}

/* LINKS */
a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

/* IMAGES */
img.medium {
  max-width: 100%;
  width: 35rem;
}

/* CLASSES */
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.row.center {
  justify-content: center;
}
