.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("https://wallpaperaccess.com/full/4505252.jpg") center;
  background-size: contain;
}

.login-wrapper {
  width: 30%;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 15%;
}

.login-wrapper h1 {
  font-size: 28px;
  text-align: center;
  margin: 30px 0 20px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  visibility: hidden;
}

.login-form input {
  flex: 1;
  min-width: 30%;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  font-size: 14px;
}

.login-form span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form a {
  text-decoration: underline;
}
