.grid-container {
  display: grid;
  grid-template-areas:
    "announcement"
    "header"
    "nav"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 3.6rem 8.6rem 5rem 1fr 5rem;
  min-height: 100vh;
}

main {
  grid-area: main;
  padding: 1rem;
}
