.checkout-steps {
  width: 60%;
  justify-content: center;
  margin: 2rem auto;
  text-transform: uppercase;
  font-weight: bold;
}

.checkout-steps > div {
  border-top: 0.5rem solid #c0c0c0;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  margin-right: 0.1rem;
}

.checkout-steps > div.active {
  border-top: 0.5rem solid #000;
  color: #000;
}
