header {
  grid-area: header;
  background-color: #fff;
  padding: 2.3rem 10rem;
}

header a {
  color: #000;
}

a.brand {
  font-size: 3.5rem;
  font-weight: bold;
  /* font-family: "Zen Kurenaido", sans-serif; */
}

.badge {
  position: absolute;
  display: block;
  right: 0.6rem;
  top: -1.1rem;
  background-color: #186dbd;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  width: 2.25rem;
  height: 2.25rem;
  margin: 0 auto;
  line-height: 2rem;
  font-size: 1.4rem;
  font-weight: bold;
}

.userlinks > a {
  padding: 0 2rem;
  font-size: 1.7rem;
  text-transform: uppercase;
}

/* DROPDOWN */
.dropdown {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 0 2rem;
}

.dropdown-content {
  position: absolute;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  display: none;
  text-align: center;
  right: 2rem;
  min-width: 15rem;
  padding: 0.2rem;
  z-index: 1;
  margin: auto;
  text-transform: uppercase;
  border: 0.5px solid #eee;
}

.dropdown-content > a {
  padding: 1rem 0;
}

.dropdown-content a:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.dropdown:hover .dropdown-content,
.dropdown:hover .dropdown-content a {
  display: block;
  color: #1b352c;
}

.dropdown:hover .dropdown-content a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
