.grid-container {
  display: grid;
  grid-template-areas:
    "announcement"
    "header"
    "nav"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 3rem 5rem 5rem 1fr auto;
  min-height: 100vh;
}

main {
  grid-area: main;
  padding: 1rem;
}
