.announcement {
  grid-area: announcement;
  background-color: rgb(43, 43, 41);
  color: #fff;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcement p {
  margin: 0.8rem 0;
}
